<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bibtex Generator - Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Edit Article Reference</h1>

<form action="#" th:action="@{/bibtex/edit/{id}(id=${reference.id})}" method="post" th:object="${reference}">


    <p>Name: <input type="text" th:field="${reference.name}"/></p>

    <div th:each="entry : ${reference.entries}">
        <p>
            <label th:for="${entry.key}" th:text="${entry.key}"></label>
            <input type="text" th:name="${entry.key}" th:value="${entry.value}"/>
        </p>
    </div>


    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>


</body>
</html>