<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bibtex Generator - Add new</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>New <span th:text="${reference.type.name}"></span> reference</h1>
<!-- tässä kohdin tuo actionin URL kusee, tällä toteutuksella -->
<form action="#" th:action="@{/bibtex/add/{type}(type=${reference.type.name})}" method="post" th:object="${mappi}">

    <div th:each="error : ${errors}">
        <span th:text="${error}"></span>
    </div>

    <p>Name: <input type="text" th:field="${reference.name}"/></p>

    <div th:each="entry : ${reference.entries}">
        <p>
            <label th:for="${entry.key}" th:text="${entry.key}"></label>
            <input type="text" th:name="${entry.key}" th:value="${entry.value}"/>
        </p>
    </div>


    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset" name = "reset"/></p>
    <a th:href="@{/bibtex}" >Etusivulle</a>
</form>


</body>
</html>